.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .product {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product h2 {
    font-size: 18px;
  }
  
  .product p {
    font-size: 14px;
    color: #888;
  }
  
  .buy-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }

  .product-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .product-image img {
    width: 300px;
    height: auto;
  }
  
  .product-info {
    margin-left: 30px;
  }
  
  .product-info h2 {
    font-size: 24px;
  }
  
  .product-info p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .add-to-cart-button,
  .checkout-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }


  
  header {
    background-color: #333;
    padding: 20px;
    color: white;
  }
  
  .gnb ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .gnb li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .gnb li a {
    color: white;
    text-decoration: none;
  }
  
  .aline-right {
    float: right
  }


  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  

/* 슬라이드 컨테이너 스타일 */
.slider-container {
  width: 100%;
  margin: 0 auto; /* 가운데 정렬을 위해 추가. */
  overflow: hidden;
  position: relative;
}

/* 각 슬라이드 스타일 */
.slider-slide {
  display: none;
  padding: 20px;
  font-size: 24px;
  text-align: center;
}

/* 현재 보이는 슬라이드 스타일 */
.slider-slide.active {
  display: block;
}



.promo-container {
  font-family: 'Arial', sans-serif;
  width: 600px;
  padding: 20px;
  background-color: #FFFFFF;
  border: 1px solid #ddd;
  margin: 0 auto; /* 중앙 정렬을 위한 스타일 */

}

.promo-title {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.promo-content {
  display: flex;
  align-items: center;
}

.promo-text {
  flex: 70%;
}

.promo-text h2 {
  font-size: 20px;
  color: #000;
  margin-bottom: 10px;
}

.promo-text p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 10px;
}

.promo-text a {
  font-size: 12px;
  color: #007BFF;
  text-decoration: none;
}

.promo-banner {
  flex: 30%;
  background-color: #FF7F00;
  color: #FFF;
  padding: 20px;
  font-size: 18px;
  text-align: center;
  line-height: 1.4;
  border-radius: 10px;
}

.promo-link {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 600px; /* promo-container와 동일한 크기 */
  margin: 0 auto;
}

.promo-link:link, .promo-link:visited, .promo-link:hover, .promo-link:active {
  text-decoration: none;
  color: inherit;
}

.promo-link:hover {
  text-decoration: none; /* 호버시 밑줄 제거 */
}
